// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



// BUTTON
.createBtn{
    background-color: #bfe1c2;
}

.bozza{
    background-color: #ff4747;
}

.createBtn:hover{
    transform: scale(1.1);
}

.updateBtn:hover, .showBtn:hover{
    background-color: #975fdc;
    color: white;
}

.deleteBtn:hover{
    background-color: #f94144;
    color: white;
}

.title, .slug{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.bgColor{
    background-color:rgb(151, 95, 220, 0.3);
    border-radius: 0.5rem;

}

.showCategory{
    background-color: #975fdc;
    color: white;
}

.loginColor{
    color: #292b2c;
}